{% extends 'base.html' %}

{% block babies %}

<h1 style='color:wheat; font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; text-shadow: #000 0px 0px 5px;'>Delete Snack</h1>

<form action="" method="post" style='color:wheat; font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; text-shadow: #000 0px 0px 5px;'>
  {% csrf_token %}
  <p style='color:wheat; font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; text-shadow: #000 0px 0px 5px;'>Do you really want to delete "{{ snack.name }}"?</p>
  <input type="submit" value="OK">
</form>

{% endblock babies %}